.portfolio {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-auto-columns: 30rem;
    grid-auto-rows: 21rem;
    grid-gap: 30px;

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(2, 1fr);

    }

    @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: repeat(1, 1fr);

    }

    &__projeto {        
            // background-color: teal;
            box-shadow: $box-shadow;
            position: relative;
            background-size: cover;
        &--p1 {
            background-image: url(../img/natours-banner.jpg);            
        }
        &--p2 {
            background-image: url(../img/trillo.jpg);            
        }
        &--p3 {
            background-image: url(../img/github-finder.jpg);            
        }
        &--p4 {
            background-image: url(../img/favoritelinks-home.jpg);            
        }
        &--p5 {
            background-image: url(../img/shopping-cart.jpg);            
        }
        &--p6 {
            background-image: url(../img/expense-tck.jpg);            
        }
    }

    &__modal-cta {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: rgba(0,199,0, .8);
        background-color: rgba($color-icon, .85);
        opacity: 0;
        transition: all ease 0.5s;
        cursor: pointer;
    }   

    &__projeto:hover &__modal-cta {        
        opacity: 1;
        // transform: translateY(-3);
    }

    &__icon {
        font-size: 6rem;
    }

}

.openmodal {
    text-decoration: none;
    color: $color-white;
}